//colors
$black: #383838;
$grey-1: 	#989898;
$grey-2: 	#C0C0C0;
$grey-3: #F8F8F8;
$white: #fff;
$blue: #004f95;
$red: #FF0000;

//units
$maxWidth: 1300px;
$borderRadius: 5px;
$boxShadow: 0px 2px 3px 2px rgba(0,0,0, .03)